.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}

.cell.purple {
  background: purple;
}

.cell.red {
  background: red;
}

.cell.yellow {
  background: yellow;
}

.cell.cyan {
  background: cyan;
}

.cell.blue {
  background: blue;
}

.cell.orange {
  background: orange;
}

